In [1]:
import pandas as pd

In [2]:
pi = pd.read_csv('price_index.csv', index_col=0)
pi

                       2011      2012      2013      2014  2015
Ajeroport          1.260127  1.151747  1.179169  1.036706   1.0
Akademicheskoe     1.354470  1.206449  1.093900  1.019737   1.0
Alekseevskoe       1.168430  1.276850  1.189837  1.116255   1.0
Altuf'evskoe            NaN  1.133993  1.185033  1.179567   1.0
Arbat                   NaN  1.346137  0.881382  1.029916   1.0
...                     ...       ...       ...       ...   ...
Vyhino-Zhulebino   1.232424  1.080065  1.042332  0.987748   1.0
Zamoskvorech'e     0.982759  1.350384  1.081689  0.968516   1.0
Zapadnoe Degunino  0.705649  0.999910  0.884442  0.969285   1.0
Zjablikovo              NaN  1.078212  1.072812  1.066199   1.0
Zjuzino            1.148148  1.084294  1.012278  1.014746   1.0

[146 rows x 5 columns]

In [3]:
pi.describe()

             2011        2012        2013        2014   2015
count  116.000000  139.000000  142.000000  145.000000  146.0
mean     1.318754    1.265428    1.170110    1.100583    1.0
std      0.484523    0.729590    0.535928    0.412720    0.0
min      0.576821    0.809839    0.725800    0.722265    1.0
25%      1.097561    1.068513    1.038712    0.981911    1.0
50%      1.194278    1.140287    1.102939    1.036706    1.0
75%      1.322659    1.232237    1.180011    1.095060    1.0
max      4.055208    7.559828    7.066796    4.721670    1.0